.logo
  display: inline-flex
  align-items: center
  gap: 12px
  color: var(--color-text)

  i
    font-size: 48px
    line-height: 1

  span
    font-size: 32px
    font-weight: var(--font-weight-bold)
    line-height: 40px
