.session-list-item
  display: grid
  grid-template-columns: 1fr 24px
  align-items: center
  gap: var(--space-sm)
  width: 100%
  min-height: 44px
  padding: 0 var(--space-md)
  border-radius: var(--border-radius-md)
  color: var(--color-text-secondary)
  text-align: left

  span
    overflow: hidden
    font-size: var(--font-size-md)
    line-height: var(--line-height-md)
    text-overflow: ellipsis
    white-space: nowrap

  i
    justify-self: end
    color: var(--color-text-tertiary)
    font-size: 20px

  &:hover,
  &.active
    background-color: var(--color-surface-hover)
    color: var(--color-text)

  &.active
    background-color: rgba(28, 117, 219, .3)
    font-weight: var(--font-weight-semi-bold)
