.sidebar-footer
  display: grid
  gap: var(--space-xl)
  margin: 0 calc(var(--space-lg) * -1) calc(var(--space-lg) * -1)
  border-top: 1px solid var(--color-border)

  a
    display: inline-flex
    align-items: center
    justify-self: center
    gap: var(--space-sm)
    padding-top: var(--space-xl)
    color: var(--color-text-secondary)
    font-size: var(--font-size-md)
    line-height: var(--line-height-md)
    text-decoration: none

    i
      color: var(--color-text)
      font-size: 24px

  div
    display: grid
    grid-template-columns: 1fr 72px
    min-height: 44px
    border-top: 1px solid var(--color-border)

  span
    align-self: center
    padding-left: var(--space-lg)
    color: var(--color-text-tertiary)
    font-size: var(--font-size-sm)
    line-height: var(--line-height-sm)

  button
    display: grid
    place-items: center
    border-left: 1px solid var(--color-border)
    color: var(--color-text)
    font-size: 22px
