.action-item
  display: grid
  grid-template-columns: 26px 1fr auto
  align-items: center
  gap: 12px
  width: 100%
  min-height: 42px
  color: var(--color-text-secondary)
  text-align: left

  i
    color: var(--color-text)
    font-size: 24px

  span
    min-width: 0
    overflow: hidden
    font-size: var(--font-size-md)
    line-height: var(--line-height-md)
    text-overflow: ellipsis
    white-space: nowrap

  .addon
    overflow: visible

  &:hover:not(:disabled)
    color: var(--color-text)

  &:disabled
    color: var(--color-text-disabled)
    cursor: not-allowed

    i
      color: var(--color-text-disabled)
