.button
  display: inline-flex
  align-items: center
  justify-content: center
  gap: var(--space-sm)
  border-radius: var(--border-radius-md)
  color: var(--color-text-secondary)
  font-weight: var(--font-weight-semi-bold)
  text-decoration: none
  transition: color var(--transition-duration-main) var(--transition-timing-main), background-color var(--transition-duration-main) var(--transition-timing-main), border-color var(--transition-duration-main) var(--transition-timing-main)

  .button-icon
    flex: 0 0 auto
    font-weight: var(--font-weight-regular)
    line-height: 1

  .button-label
    min-width: 0
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  &.button-md
    min-height: 40px
    padding: 0 var(--space-md)
    font-size: var(--font-size-md)
    line-height: var(--line-height-md)

    &.button-icon-only
      box-sizing: border-box
      color: var(--color-text-secondary)
      width: var(--button-md-icon-only-size)
      height: var(--button-md-icon-only-size)
      min-height: 0
      padding: 8px

  &.button-ghost:hover:not(:disabled):not([aria-disabled='true']),
  &.button-surface
    background-color: var(--color-surface-hover)
    color: var(--color-text)

  &.button-surface:hover:not(:disabled):not([aria-disabled='true'])
    background-color: var(--color-surface)

  &.button-ghost:active:not(:disabled):not([aria-disabled='true']),
  &.button-surface:active:not(:disabled):not([aria-disabled='true'])
    background-color: var(--color-surface-active)
    color: var(--color-text)

  &.button-primary
    background-color: var(--color-accent)
    color: var(--color-accent-contrast)

  &.button-primary:hover:not(:disabled):not([aria-disabled='true'])
    background-color: var(--color-accent-hover)

  &.button-primary:active:not(:disabled):not([aria-disabled='true'])
    background-color: var(--color-accent)

  &.button-danger
    background-color: var(--color-danger)
    color: #FFF

  &:disabled
    color: var(--color-text-disabled)

    &:not([aria-busy='true'])
      cursor: not-allowed !important

  &[aria-disabled='true']
    color: var(--color-text-disabled)

    &:not([aria-busy='true'])
      cursor: not-allowed !important
